.rcw-conversation-container > .rcw-header {
  background-color: #24A19C;
  padding: 0;
}
.rcw-client > .rcw-message-text,
.rcw-launcher {
  background-color: #24A19C;
  color: white;
}
.rcw-response > .rcw-message-text {
  background-color: #7CD1B8;
  color: white;
}
.rcw-messages-container {
  background-color: #F8F8FF;
}
.rcw-badge {
  display: none;
}

@media screen and (max-width: 800px) {
  .rcw-conversation-container .rcw-close-button {
    background-color: #24A19C;
  }
}